<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331906216455-aldbo3s2g57pj9vkel1t6nih99p0bjbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331906216455-aldbo3s2g57pj9vkel1t6nih99p0bjbh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331906216455-vg6ai1ev6p2aavim27ca9579eh68deoc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEe7TA7w6YiNvoB5BUaq2hH6XAxZF9nZA</string>
	<key>GCM_SENDER_ID</key>
	<string>331906216455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentAdvisorApp</string>
	<key>PROJECT_ID</key>
	<string>student-advisor-app-75a11</string>
	<key>STORAGE_BUCKET</key>
	<string>student-advisor-app-75a11.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331906216455:ios:3fe319192e10397e2570a2</string>
</dict>
</plist>